.leavebutton{
  background-color: #ff0000; /* Red */
  color: #FFFFFF;
  width: 80px !important;
  height: 30px !important;
  border: none;
  text-align: center;
  font-family: Exo;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  margin-left: 18px;
  cursor: pointer;
  border-radius: 25px;
  display: inline-block;
  align-self: center;
  margin-bottom: 15px;
}

.joinbutton, .createbutton {
  background-color: #0CAF30; /* Green */
  color: #FFFFFF;
  width: 80px !important;
  height: 30px !important;
  border: none;
  text-align: center;
  font-family: Exo;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  margin-left: 18px;
  cursor: pointer;
  border-radius: 25px;
  display: inline-block;
  align-self: center;
  margin-bottom: 15px;
}

.groupdiv {
  flex-direction: row;
  display: flex;
}

.classgrouplist {
  text-align: left;
  background: #FFFFFF;
  margin-bottom: 15px;
  width: 70vw;
  max-width: 500px;
  height: 70px;
  display: inline-flex;
  border-style: solid;
  flex-direction: row;
  justify-content: space-between;
  border-width: 2px;
  text-decoration: none;
  color: #000000;
}

.students_circle_pfp{
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.container1 {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: center;
}

.container2 {
  display: inline-flex;
}

.name {
  height: 20.74px;

  font-family: 'Exo';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-top: 11.23px;
  margin-left: 12.49px;
  margin-bottom: 5.52px;

  color: #000000;
}

.membercount {
  width: 85.69px;
  height: 16.46px;

  font-family: 'Exo';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  margin-left: 12.7px;
  margin-top: 0px;

  color: #C4C4C4;
}

.num_students {
  display: none;
}

.students {
  width: 71px;
  height: 17px;
  
  font-family: 'Exo';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 6px;

  color: #C4C4C4;
}

.rating {
  width: 111.24px;
  height: 16.42px;
  margin-bottom: 0px;

  font-family: 'Exo';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  color: #C4C4C4;
}

.stardiv {
  margin-top: 6.58px;
  margin-left: 17px;
}

.star{
  align-self: center;
  width: 15px;
  height: 14px;
  margin-bottom: 10px;

  box-sizing: border-box;
}

.createName {
  width: 153.24px;
  height: 20.74px;
  margin-left: 12.49px;
  margin-top: 11.23px;

  font-family: 'Exo';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 0%;

  color: #000000;
}

.createStatus {
  width: 71px;
  margin-top: 15px;

  font-family: 'Exo';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  color: #000000;
}

.profilepicture {
  align-self: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 6px;
  display: inline-flex;
}

@media screen and (max-width: 620px){
  .num_students {
    display: flex;
    height: 17px;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 6px;
    color: #C4C4C4;
    width: 90px;
  }

  .students{
    display: none;
  }

  .membercount{
    display: none;
  }
}

@media screen and (max-width: 430px){
  

  .name{
    font-size: 15px;
    line-height: 18px;
  }

}
