.line1{
  width: 1015px;
  height: 0px;
  left: 373px;
  top: 91px;
  margin-left: 37px;
  
  border: 1px solid #000000;
}
  
  
  
.line2{
  width: 1015px;
  height: 0px;
  left: 373px;
  top: 562px;
  margin-left: 37px;
  
  border: 1px solid #000000;
}


.connections{
  /* My Connections */
  
  width: 263px;
  height: 48px;
  left: 373px;
  top: 514px;
  margin-left: 37px;
  
  font-family: Exo;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  
  /* identical to box height */
  
  color: #000000;
}
  
.requests{
  /* Connection Requests */

  width: 347px;
  height: 48px;
  left: 372px;
  top: 42px;
  margin-left: 37px;

  font-family: Exo;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;

  /* identical to box height */

  color: #000000;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 30px;
  margin-left: 37px;
  
}