@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.userlist {
    font-family: Roboto;
    text-align: left;
    background: #EDE5E5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
    padding-left:30px;
    padding-right:30px;
    margin:10px;
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.maincontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.innercontent{
  display: flex;
  flex-direction: row;
  margin: 10px;
  
}



.innercontent2{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-right: 40px;
}
  
.picturecircle {
    align-self: auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
  }

.textsize{
    font-size: large;
}

.reviewsize{
    font-size: medium;
    color: #6C6C6C;
}

.stars {
    flex-direction: row;
    display: flex;
    align-self: left;
  }
  
  .star1{
    align-self: center;
    width: 30px;
    height: 30px;
    margin-right:10px;
    box-sizing: border-box;
  }
  
  .star2{
    align-self: center;
    width: 30px;
    height: 30px;
    margin-right:10px;
    box-sizing: border-box;
  }
  
  .star3{
    align-self: center;
    width: 30px;
    height: 30px;
    margin-right:10px;
    box-sizing: border-box;
  }
  
  .star4{
    align-self: center;
    width: 30px;
    height: 30px;
    margin-right:10px;
    box-sizing: border-box;
  }
  
  .star5{
    align-self: center;
    width: 30px;
    height: 30px;
    margin-right:10px;
    box-sizing: border-box;
  }

  .uparrow{
    width: 30px;
    height: 20px;
  }