.grouplist {
  text-align: left;
  background: #FFFFFF;
  padding:30px;
  margin:10px;
  width:60%;
  display: inline-flex;
  border-style: solid;
}

.mygroups {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  margin-left: 50px;
}