.containerCol {
  display: flex;
  flex-direction: column;
}

.containerRow {
  display: flex;
  align-items: center;
  font-size: large;
  margin-top: 3vw;
}

.replies {
  margin-left: 10rem;
}

.replyForm {
  margin-top: 3rem;
  margin-right: 3rem;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2vw;
  text-decoration: none;
  text-align: center;
}

.profilePicture {
  width: 8vw;
  height: 8vw;
  border: 0.3vw solid #fff9f9;
  border-radius: 100%;
}

.postText {
  display: flex;
  align-self: start;
  font-size: 2.3vw;
  word-break: break-word;
  padding-top: 1vw;
  width: 100%;
  margin-right: 1rem;
}

.postInput {
  resize: none;
  border-radius: 2rem;
  border-width: thick;
  border-color: black;
  padding: 1rem;
  font-family: "Exo";
  font-size: large;
  width: 100%;
}

.postButton,
.replyButton,
.cancelButton {
  margin-left: 5rem;
  border: none;
  border-radius: 50px;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: bold;
  font-family: "Exo";
}

.postButton {
  background: #0caf30;
}

.replyButton {
  background: #3498db;
}

.cancelButton {
  background: #ff0000;
}

@media only screen and (max-width: 1000px) {
  .container {
    display: flex;
    align-items: center;
    font-size: large;
    margin-top: 3vw;
    margin-bottom: 5re3vw;
  }

  .profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2vw;
    text-decoration: none;
    /* text-align: center; */
  }

  .profilePicture {
    width: 12vw;
    height: 12vw;
    border: 0.3vw solid #fff9f9;
    border-radius: 100%;
  }

  .postText {
    display: flex;
    align-self: start;
    font-size: 2.5vh;
    word-break: break-word;
    padding-top: 1vw;
    width: 100%;
  }

  .postInput {
    resize: none;
    border-radius: 2rem;
    border-width: thick;
    border-color: black;
    padding: 1rem;
    font-family: "Exo";
    font-size: large;
    width: 100%;
    height: 10vh;
  }

  .postButton {
    margin-left: 3rem;
    background: #0caf30;
    border: none;
    border-radius: 50px;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: bold;
    font-family: "Exo";
  }

  .profileName {
    width: 10vw;
    font-size: 3vw;
    text-align: center;
  }

  .replies {
    margin-left: 5rem;
  }
}
