.container{
    display: flex;
    flex-direction:column;
    padding: 4vh;
}
.classHeader{
    padding-bottom: 2vh;
    display: flex;
    flex-direction:column;
}
.classNameLine{
    display: flex;
    align-items:center;
}
.className{
    font-style: normal;
    font-weight: 500;
    font-size: 7vw;
    line-height: 96px;
}
.classJoin, .classLeave{
    width: 80px;
    height: 30px;
    margin-left: 3vh;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    background: #2ECC71;
    border-radius: 25px;
}
.classLeave{
    background: #FF0000;
}
.classSmallDiscription{
    color: rgba(0, 0, 0, 0.5);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
.aboutHeader, .studentHeader, .alumniHeader, .postsHeader, .groupsHeader{
    display: flex;
    flex-direction:column;
}
.aboutLine, .studentLine, .alumniLine, .postsLine, .groupsLine{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}
.about, .student, .alumni, .posts, .groups{
    font-style: normal;
    font-weight: 400;
    font-size: 5vh;
}
.arrow{
    font-weight: 1000;
    cursor: pointer;
}
.horizontalLine{
    width: 90vw;
}
.instructorLine{
    display: flex;
    padding-bottom: 2vh;
}
.instructor{
    font-size: 3vh;
}

.instructorName{
    font-size: 3vh;
    margin-left: 2vh;
}
.classDiscription{
    font-size: 3vh;
    margin-bottom: 5vh;
}

.allStudents{
    display: flex;
    gap: 20px 40px;
    flex-wrap: wrap;
    margin-bottom: 5vh;
}
.studentCard{
    display: flex;
    gap: 10px;
    align-items: center;
}
.studentImage{
    height: 5vh;
    width: 5vh;
    border-radius: 100%;
}
.studentName{
    font-style: normal;
    font-weight: 500;
    font-size: 3vh;
}
.allClasses{
    display: flex;
    flex-direction:column;
    gap: 20px
}
.class{
    display: flex;
    flex-direction:column;
}
.alumniClassLine{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.alumniClassStudent{
    display: flex;
    gap: 20px 40px;
    flex-wrap: wrap;
}
.alumniClassName{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}
.alumniClassArrow{
    padding-bottom: 5px;
}

@media only screen and (max-width: 1000px) {
    .className{
        font-style: normal;
        font-weight: 500;
        font-size: 6.5vh;
        line-height: 96px;
    }
}