.container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profilePicture {
  width: 50px;
  margin-left: 1rem;
}

.input {
  margin-left: 1rem;
  width: 100%;
  border-width: 3px;
}

.postButton {
  border: none;
  background: #3498DB;
  color: white;
  font-family: 'Exo';
  font-weight: bold;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 10px;
  margin-left: 1rem;
}