.picture{
  align-self: auto;
  width: 100px;
  height: 100px;
}
  
.name{
  /* Tommy */

  align-self: center;
  left: 557px;
  top: 852px;
  width: 64px;
  height: 24px;

  font-family: Exo;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  /* identical to box height */

  color: #000000;
}
  
.star1{
  align-self: center;
  width: 15px;
  height: 15px;

  box-sizing: border-box;
}

.star2{
  align-self: center;
  width: 15px;
  height: 15px;

  box-sizing: border-box;
}

.star3{
  align-self: center;
  width: 15px;
  height: 15px;

  box-sizing: border-box;
}

.star4{
  align-self: center;
  width: 15px;
  height: 15px;

  box-sizing: border-box;
}

.star5{
  align-self: center;
  width: 15px;
  height: 15px;

  box-sizing: border-box;
}
  
.div {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 63px;
}

.stars {
  flex-direction: row;
  display: flex;
  align-self: center;
}