@import url("https://fonts.googleapis.com/css?family=Sofia:400|Exo:400,700,500,400italic,800,700italic|Exo+2:400|Roboto:400,700,400italic");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.mobile-connections {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 926px;
  overflow: hidden;
  width: 428px;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 130px;
  position: relative;
  width: 456px;
}

.overlap-group10 {
  align-self: flex-end;
  height: 50px;
  margin-top: 20px;
  position: relative;
  width: 438px;
}

.title,
.zhuangzi,
.my-connections,
.name {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.line-13 {
  height: 2px;
  left: 1px;
  position: absolute;
  top: 48px;
  width: 437px;
}

.flex-row {
  align-items: center;
  display: flex;
  height: 277px;
  margin-left: 20px;
  margin-top: 24px;
  min-width: 225px;
}

.group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 277px;
  width: 119px;
}

.overlap-group5 {
  height: 140px;
  position: relative;
  width: 119px;
}

.mask-group,
.ellipse-9 {
  height: 108px;
  left: 0;
  position: absolute;
  top: 0;
  width: 108px;
}

.ibn-khaldun {
  left: 20px;
  letter-spacing: 0;
  position: absolute;
  top: 105px;
}

.star-56 {
  height: 14px;
  left: 15px;
  position: absolute;
  top: 126px;
  width: 15px;
}

.star-57 {
  height: 14px;
  left: 60px;
  position: absolute;
  top: 126px;
  width: 15px;
}

.star-58 {
  height: 14px;
  left: 75px;
  position: absolute;
  top: 126px;
  width: 15px;
}

.star-59 {
  height: 14px;
  left: 45px;
  position: absolute;
  top: 126px;
  width: 15px;
}

.star-60 {
  height: 14px;
  left: 30px;
  position: absolute;
  top: 126px;
  width: 15px;
}

.mask-group-1 {
  height: 100px;
  margin-left: 4px;
  margin-top: 38px;
  width: 100px;
}

.overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 23px;
  margin-top: 4px;
  min-height: 257px;
  width: 83px;
}

.overlap-group1 {
  align-items: center;
  background-color: var(--emerald);
  border-radius: 25px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  margin-top: 7px;
  min-width: 80px;
  padding: 0 7px;
}

.accept {
  letter-spacing: 0;
  min-height: 24px;
  min-width: 57px;
}

.overlap-group {
  align-items: center;
  background-color: var(--red);
  border-radius: 25px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  margin-top: 16px;
  min-width: 80px;
  padding: 0 13px;
}

.reject {
  letter-spacing: 0;
  min-height: 24px;
  min-width: 51px;
}

.overlap-group3 {
  align-items: center;
  background-color: var(--emerald);
  border-radius: 25px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  margin-top: 97px;
  min-width: 80px;
  padding: 0 7px;
}

.overlap-group2 {
  align-items: center;
  background-color: var(--red);
  border-radius: 25px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  margin-top: 17px;
  min-width: 80px;
  padding: 0 13px;
}

.flex-col-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-right: -45px;
  margin-top: 7px;
  min-height: 488px;
  width: 457px;
}

.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  min-height: 332px;
  width: 454px;
}

.overlap-group6 {
  height: 36px;
  margin-left: 21px;
  position: relative;
  width: 76px;
}

.star-61 {
  height: 14px;
  left: 0;
  position: absolute;
  top: 22px;
  width: 15px;
}

.star-62 {
  height: 14px;
  left: 45px;
  position: absolute;
  top: 22px;
  width: 15px;
}

.star-63 {
  height: 14px;
  left: 60px;
  position: absolute;
  top: 22px;
  width: 15px;
}

.star-64 {
  height: 14px;
  left: 30px;
  position: absolute;
  top: 22px;
  width: 15px;
}

.star-65 {
  height: 14px;
  left: 15px;
  position: absolute;
  top: 22px;
  width: 15px;
}

.overlap-group11 {
  height: 48px;
  margin-top: 78px;
  position: relative;
  width: 454px;
}

.line-14 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 47px;
  width: 454px;
}

.flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 1px;
  margin-top: 28px;
  min-width: 263px;
  position: relative;
}

.ellipse-10 {
  height: 105px;
  margin-left: 63px;
  object-fit: cover;
  width: 100px;
}

.overlap-group-container-1 {
  align-items: center;
  display: flex;
  margin-left: 5px;
  min-width: 249px;
}

.overlap-group4 {
  height: 34px;
  margin-bottom: 1px;
  position: relative;
  width: 84px;
}

.star-68 {
  height: 14px;
  left: 4px;
  position: absolute;
  top: 20px;
  width: 15px;
}

.star-69 {
  height: 14px;
  left: 49px;
  position: absolute;
  top: 20px;
  width: 15px;
}

.star-70 {
  height: 14px;
  left: 34px;
  position: absolute;
  top: 20px;
  width: 15px;
}

.star-71 {
  height: 14px;
  left: 19px;
  position: absolute;
  top: 20px;
  width: 15px;
}

.star-72 {
  height: 14px;
  left: 64px;
  position: absolute;
  top: 20px;
  width: 15px;
}

.overlap-group9 {
  height: 38px;
  margin-left: 90px;
  position: relative;
  width: 75px;
}

.name-1 {
  left: 3px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.star-39 {
  height: 14px;
  left: 0;
  position: absolute;
  top: 24px;
  width: 15px;
}

.star-49 {
  height: 14px;
  left: 15px;
  position: absolute;
  top: 24px;
  width: 15px;
}

.star-50 {
  height: 14px;
  left: 30px;
  position: absolute;
  top: 24px;
  width: 15px;
}

.star-51 {
  height: 14px;
  left: 45px;
  position: absolute;
  top: 24px;
  width: 15px;
}

.star-52 {
  height: 14px;
  left: 60px;
  position: absolute;
  top: 24px;
  width: 15px;
}

.flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 142px;
  margin-top: 14px;
  min-width: 269px;
}

.overlap-group7 {
  height: 134px;
  position: relative;
  width: 108px;
}

.name-2 {
  left: 12px;
  letter-spacing: 0;
  position: absolute;
  top: 100px;
}

.star-38 {
  height: 14px;
  left: 12px;
  position: absolute;
  top: 120px;
  width: 15px;
}

.star-40 {
  height: 14px;
  left: 57px;
  position: absolute;
  top: 120px;
  width: 15px;
}

.star-41 {
  height: 14px;
  left: 42px;
  position: absolute;
  top: 120px;
  width: 15px;
}

.star-42 {
  height: 14px;
  left: 27px;
  position: absolute;
  top: 120px;
  width: 15px;
}

.star-48 {
  height: 14px;
  left: 72px;
  position: absolute;
  top: 120px;
  width: 15px;
}

.flex-col-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 61px;
  min-height: 142px;
  width: 100px;
}

.ellipse-11 {
  height: 105px;
  object-fit: cover;
  width: 100px;
}

.overlap-group8 {
  height: 34px;
  margin-left: 1px;
  margin-top: 2px;
  position: relative;
  width: 75px;
}

.name-3 {
  left: 5px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.star-43 {
  height: 14px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 15px;
}

.star-44 {
  height: 14px;
  left: 45px;
  position: absolute;
  top: 20px;
  width: 15px;
}

.star-45 {
  height: 14px;
  left: 60px;
  position: absolute;
  top: 20px;
  width: 15px;
}

.star-46 {
  height: 14px;
  left: 30px;
  position: absolute;
  top: 20px;
  width: 15px;
}

.star-47 {
  height: 14px;
  left: 15px;
  position: absolute;
  top: 20px;
  width: 15px;
}

.mobile-menu {
  align-items: flex-start;
  background-color: var(--hemp);
  display: flex;
  height: 60px;
  min-width: 428px;
  padding: 13px;
  position: relative;
}

.study-seeker {
  letter-spacing: 0;
  line-height: 15.3px;
  margin-left: 145px;
  min-height: 33px;
  text-align: center;
  width: 63px;
}

.hamburger {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1px;
  min-height: 17px;
  width: 25px;
}

.line-9 {
  height: 2px;
  width: 25px;
}

.line-10 {
  height: 2px;
  margin-top: 7px;
  width: 25px;
}

.line-11 {
  height: 2px;
  margin-top: 6px;
  width: 25px;
}

.person-viewing {
  background-position: 50% 50%;
  background-size: cover;
  height: 100px;
  width: 100px;
}

/* variables */

:root {
  --black-2: rgba(0, 0, 0, 0.502);
  --black: rgba(0, 0, 0, 1);
  --forest-green: rgba(12, 175, 48, 1);
  --emerald: rgba(46, 204, 113, 1);
  --curious-blue: rgba(52, 152, 219, 1);
  --ship-gray: rgba(60, 61, 62, 1);
  --ship-gray-2: rgba(61, 62, 63, 1);
  --dove-gray: rgba(108, 108, 108, 1);
  --hemp-2: rgba(144, 118, 112, 1);
  --hemp: rgba(144, 118, 113, 1);
  --mist-gray: rgba(196, 196, 196, 1);
  --guardsman-red: rgba(199, 0, 0, 1);
  --wafer: rgba(216, 200, 200, 1);
  --ebb: rgba(236, 229, 229, 1);
  --red: rgba(255, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-s: 12px;
  --font-size-m: 14px;
  --font-size-l: 18px;
  --font-size-xl: 22px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 30px;
  --font-size-xxxxl: 36px;

  --font-family-exo: "Exo";
  --font-family-exo_2: "Exo 2";
  --font-family-roboto: "Roboto";
  --font-family-sofia: "Sofia";
}

/* Classes */

.exo-bold-black-18px {
  color: var(--black);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-l);
  font-weight: 700;
  font-style: normal;
}
.roboto-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 400;
  font-style: normal;
}
.exo-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
.roboto-normal-dove-gray-20px {
  color: var(--dove-gray);
  font-family: var(--font-family-roboto);
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}
.exo-medium-mist-gray-14px {
  color: var(--mist-gray);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}
.exo-medium-white-14px {
  font-family: var(--font-family-exo);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}
.roboto-normal-black-22px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-style: normal;
}
.border-1px-black {
  border-width: 1px;
  border-style: solid;
  border-color: var(--black);
}
.exo-bold-black-18px-2 {
  color: var(--black-2);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-l);
  font-weight: 700;
  font-style: normal;
}
.exo-bold-black-24px-2 {
  color: var(--black);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  font-style: normal;
}
.exo-medium-black-24px {
  color: var(--black);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  font-style: normal;
}
.exo-normal-black-9px {
  color: var(--black);
  font-family: var(--font-family-exo);
  font-size: 9px;
  font-weight: 400;
  font-style: normal;
}
.sofia-normal-ship-gray-96px {
  color: var(--ship-gray);
  font-family: var(--font-family-sofia);
  font-size: 96px;
  font-weight: 400;
  font-style: normal;
}
.exo-bold-black-14px {
  color: var(--black);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
.exo-medium-mist-gray-12px {
  color: var(--mist-gray);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-s);
  font-weight: 500;
  font-style: normal;
}
.roboto-bold-white-15px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
}
.exo-bold-black-36px {
  color: var(--black);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  font-style: italic;
}
.roboto-normal-dove-gray-22px {
  color: var(--dove-gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-style: italic;
}
.roboto-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}
.roboto-normal-black-30px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  font-style: normal;
}
.exo-bold-black-48px {
  color: var(--black);
  font-family: var(--font-family-exo);
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
}
.exo-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  font-style: normal;
}
.roboto-normal-mist-gray-30px {
  color: var(--mist-gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  font-style: normal;
}
.exo2-normal-black-36px {
  color: var(--black);
  font-family: var(--font-family-exo_2);
  font-size: var(--font-size-xxxxl);
  font-weight: 400;
  font-style: normal;
}
.exo-extra-bold-ship-gray-24px {
  color: var(--ship-gray-2);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-xxl);
  font-weight: 800;
  font-style: normal;
}
.exo-medium-black-18px {
  color: var(--black);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-l);
  font-weight: 500;
  font-style: normal;
}
.exo-extra-bold-white-36px {
  color: var(--white);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-xxxxl);
  font-weight: 800;
  font-style: normal;
}
.roboto-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  font-style: normal;
}
.exo-medium-black-14px {
  color: var(--black);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}
.exo-normal-black-12px-2 {
  color: var(--black-2);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}
.exo-normal-black-18px {
  color: var(--black-2);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-l);
  font-weight: 400;
  font-style: normal;
}
.exo-normal-black-14px {
  color: var(--black-2);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.exo-medium-black-14px-2 {
  color: var(--black-2);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}
.exo-normal-black-14px-2 {
  color: var(--black);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.exo-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  font-style: italic;
}
.exo-bold-white-36px {
  color: var(--white);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  font-style: normal;
}
.exo-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  font-style: italic;
}
.roboto-normal-red-14px {
  color: var(--red);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.exo-normal-black-24px-2 {
  color: var(--black);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  font-style: normal;
}
.roboto-normal-white-15px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}
.border-3px-black {
  border-width: 3px;
  border-style: solid;
  border-color: var(--black);
}
.exo-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}
.exo2-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-exo_2);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.sofia-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-sofia);
  font-size: var(--font-size-l);
  font-weight: 400;
  font-style: normal;
}
.roboto-normal-black-22px-2 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-style: italic;
}
.exo-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.roboto-normal-dove-gray-18px {
  color: var(--dove-gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 400;
  font-style: italic;
}
.exo-normal-black-18px-3 {
  color: var(--black-2);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-l);
  font-weight: 400;
  font-style: italic;
}
.exo-bold-black-22px {
  color: var(--black);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-style: normal;
}
.roboto-normal-black-25px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
}
.exo-normal-white-12px {
  color: var(--white);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}
.exo-bold-black-36px-2 {
  color: var(--black);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  font-style: normal;
}
.border-2px-black {
  border-width: 2px;
  border-style: solid;
  border-color: var(--black);
}
.exo-normal-black-18px-2 {
  color: var(--black);
  font-family: var(--font-family-exo);
  font-size: var(--font-size-l);
  font-weight: 400;
  font-style: normal;
}
